@charset "utf-8";
/* CSS Document */

html {
	background-image: url("sample_page_2_images/html_wallpaper.png");
	background-repeat: repeat;
}

body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header_text {
	margin-left: 5%;
	float: left;
	color: #333;
	font-weight: bold;
	font-size: 75px;
}

h2, h3, h4 {
	text-align: center;
	color: white;
}

h2 {
	font-size: 33px;
}

.bg-img {
	background-image: url("sample_page_2_images/header_img.jpg");
	margin-bottom: 20px;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin-top: 250px;
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
	width: 25%;
    float: left;
	color: #f2f2f2;
    text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
    text-decoration: none;
    font-size: 25px;
	letter-spacing: 2px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.subnav_button {
	overflow: hidden;
	font-size: 25px;
}

.subnav .subnav_button {
	width: 25%;
	border: none;
	outline: none;
}

.subnav:hover .subnav_button {
	background-color: #ddd;
	cursor: pointer;
}

.subnav_content {
	display: none;
	position: absolute;
	left: 25%;
	top: 100%;
	width: 25%;
	background-color: #6D6D6D;
}
.subnav_content_2 {
	display: none;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 25%;
	background-color: #6D6D6D;
}

.subnav_content a {
	font-size: 20px;
	width: 100%;
}
.subnav_content_2 a {
	font-size: 20px;
	width: 100%;
}

.subnav:hover .subnav_content {
	cursor: pointer;
	display: block;
}
.subnav:hover .subnav_content_2{
	cursor: pointer;
	display: block;
}

.welcome_text {
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 15px 0px;
}

.flowers_links {
	display: block;
	width: 80%;
	text-align: center;
	margin: 50px auto;
	padding: 15px 0px;
	background-size: cover;
	background-position: 50% 70%;
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

mark {
	background-color: #333;
	color: white;
	padding: 5px;
}

.home_img {
	width: 60%;
	display: block;
	margin: 50px auto 50px auto;
}

.shop_img {
	width: 70%;
	display: block;
	margin: 50px auto 50px auto;
}

.images {
	width: 60%;
	display: block;
	margin: 0px auto;
}

.caption {
	text-align: center;
	margin: 100px 0px 5px;
	color: white;
	font-size: 25px;
}

.footer {
	text-align: center;
	color: white;
	font-size: 0.75em;
}

@media screen and (max-width: 900px) {
	.header_text {
		margin-left: 3%;
		font-size: 45px;
	}
	.topnav a {
    	font-size: 20px;
  	}
	.subnav_button {
		font-size: 2px;
	}
	.subnav_content a{
		font-size: 15px;
	}
	.subnav_content_2 a{
		font-size: 15px;
	}
	.images {
		width: 85%
	}
}



/* ------------ Copyright © Ali Abedi [May 2020] ------------ */